@import url(~sanitize.css);
@import "./color.scss";

@mixin flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@mixin button {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@mixin mobile {
    @media screen and (max-width: 640px) {
        @content;
    }
}


html {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;

    @include color-theme {
        color: color(fontcolor);
        background: color(back);
    }
}

html.lock-browser, body.lock-browser {
    overflow: hidden;
    touch-action: none;
}

/*
@supports not (overscroll-behavior-y: none) {
    body.lock-browser {
        height: 100vh;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}*/

@supports (overscroll-behavior-y: none) {
    body.lock-browser {
        overflow-y: auto;
        overscroll-behavior-y: none;
    }
}

.no-user-select {
    user-select: none;
    -webkit-user-select: none;
}

header {
    text-align: center;
    min-height: 4rem;

    @include color-theme {
        background: color(header);
        border-bottom: 0.1rem solid color(fontcolor);
    }

    .title {
        font-weight: 700;
        font-size: 2rem;

        @include flex;
    }

    p {
        margin: 0 0.25rem;
    }

    
}

.view {
    position: relative;
    text-align: center;
    overflow: hidden;

    height: 40vw;
    @media screen and (max-width: 1024px) {
        height: 28rem;
    }

    @media screen and (max-width: 640px) {
        height: 36rem;
    }

    @include color-theme {
        background: color(back);
    }

    .flowbox {
        position: absolute;
        text-align: center;

        &:hover {
            cursor: grab;
        }

        &:active {
            cursor: grabbing;
        }
    }
}

.menu {
    text-align: center;
    padding: 0.5rem;

    @include flex;

    @include color-theme {
        background: color(menu);
    }

    .item {
        font-weight: 700;
        
        @include button;

        @include color-theme {
            color: color(menu-item-fontcolor);
            background: color(menu-item-back);
        }

        &.selected {
            @include color-theme {
                background: color(selected);
            }
        }
    }
}

.settings-back {
    padding: 1rem;

    @include color-theme {
        background: color(settings);
    }
}

.settings {
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
    max-width: 40rem;
    min-height: 25rem;
    border-radius: 0.5rem;

    @include color-theme {
        background: color(settings);
        border: 0.2rem solid color(menu);
    }

    .select-type {
        font-size: 1.4rem;
        margin: 1rem;
        width: 10rem;
        text-align: center;

        @include color-theme {
            color: color(fontcolor);
            background: color(settings);
            border: 0.2rem solid color(menu);
        }
    }

    hr {
        border-style: none;

        @include color-theme {
            border-top: 0.1rem solid color(menu);
        }
    }

    .monitor {
        .with-radio {
            @include flex;
        }

        input[type=radio] {
            margin: 1rem;

            @include color-theme {
                accent-color: color(selected);
                background: color(settings-button);
            }
        }

    }

    .settings-form {
        @include flex;
        flex-wrap: nowrap;

        .settings-flex-item-form {
            width: auto;
        }

        label {
            display: block;
            width: 5rem;
            text-align: right;
            margin: 0.1rem 0.5rem;
        }
    
        .input-aspect {
            width: 20rem;

            @include mobile {
                width: 12rem;
            }
        }

        .input-length {
            width: 13rem;

            @include mobile {
                width: 6rem;
            }
        }

        .select-length {
            width: 6rem;

            @include mobile {
                width: 5rem;
            }
        }

        .input-aspect, .input-length, .select-length {
            margin: 0.1rem 0.5rem;
        }

        .select-others {
            width: 24rem;
            margin: 2rem 0.5rem;

            @include mobile {
                width: 16rem;
            }
        }

        .input-aspect, .input-length, .select-length, .select-others {
            font-size: 1.2rem;

            @include color-theme {
                color: color(fontcolor);
                background: color(settings);
                border: 0.2rem solid color(menu);
            }
        }

        
    }

    .buttons {
        @include flex;
        // justify-content: flex-end;

        .move-center-button, .delete-button {
            @include button;
            margin-left: 2rem;
            margin-right: 2rem;

            @include color-theme {
                color: color(menu-item-fontcolor);
                background: color(settings-button);
            }
        }
    }

    
}

footer {
    text-align: center;
    bottom: 0;
    margin: 1rem;

    @include color-theme {
        background: color(back);
    }
}

