
$font-color: #444;

html {
    background-image: url("../images/sample-pixabay-rabbit.jpg");
}

h1 {
    color: $font-color;
    background: #ddd;
    font-size: xx-large;
}

.vue-js-style {
    color: $font-color;
    background: lightgreen;
}
